*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.main{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(images/bg.jpg);
    background-position: center;
    background-size: cover;
}
.navbar{
    width: 86%;
    display: flex;
    margin: auto;
    padding: 15px 0;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo{
    width: 150px;
    height: 150px;
    cursor: pointer;
    margin-top: 1%;
    margin-left: 0%;
    border-radius: 50%;
}
ul{
    margin-top: -4%;
}
ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 16px;
}
ul li a{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: darkslategray;
    /* margin-top: -3%; */
}
ul li a:hover{
    color: rgb(230, 104, 59);
}
.info{
    margin-left: 7%;
    margin-top: 5%;
}
.info h1{
    font-size: 50px;
    color: rgb(36, 32, 30);
}
.info h5{
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 24px;
}
.info span{
    color: rgb(255, 132, 0);
   
}
.info a{
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
    transition: .2s;
}
.info a:hover{
    background-color: rgb(169, 113, 29);
}
.images{
    width: 45%;
    height: 90%;
    position: absolute;
    bottom: -3%;
    right: 100px;
}
.images img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
    filter: drop-shadow(10px 0 10px rgba(0,0,0,0.7));
    /* box-shadow: 10px 20px 30px black; */
}

/* .images:hover .shape{
    bottom: 10px;
} */
.images:hover .myphoto{
    left: 45%;
}